.form {
  width: 360px;
  margin-left: 20px;
}
.form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
.numb-inp {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

fieldset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  margin-bottom: 24px;
}
.subm-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
